*{
    margin: 0;
    padding: 0;
    /*you may use this to see the boxes on your html*/
    /* border: 0.5px solid black; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.col-lg-4{
	height: 200px;
	/*width: 100px;*/
}

.card{
    color: rgba(0, 0, 0, 0);
}

.btn{
    margin-top: 30px;
    width: 100px;
    height: 60px;
}
.btn-light{
    background-color: WHITE;
}